html, body {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 70px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header {
    font-size: 40px;
}

.header2, .header3 {
    width: 100%;
    height: 100px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
}

.title-header2 {
    font-size: 30px;
}

.title-header2 p {
    margin: 0;
    padding: 5px;
    width: 100%;
    word-wrap: break-word;
}

.penicon img {
    height: 60px;
    margin-left: 15px;
}

.logo img {
    height: 95px;
    width: 200px;
}

.export-button {
    font-size: 20px;
    border: 6px solid rgba(174, 68, 174, 0.986);
    border-radius: 40px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 20px;
}

.export-button:hover {
    background: rgb(206, 198, 198);
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}